/* MY TEMPLATE */
/* CSS Reset */
* {
	/* view layout on screen while styling | remove after styling	*/
	/* outline: 0.0625em dashed #ff0075; */
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}
*,
*:before,
*:after {
	box-sizing: inherit; /* inherits property from parent element */
}
html {
	box-sizing: border-box; /* width and height properties includes content padding border */
	font-size: 100%;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}

/* color variables */
:root {
	--yellow: #ffff00;
	--dark-orange: #ee4b2b;
	--black: #000;
	--white: #fff;
	--dark-gray: #343a40;
}

/* body */
body {
	font-family: "Poppins", sans-serif;
	max-width: 75%;
	margin: 0 auto;
	background-color: var(--black);
}
/* header */
header .site-logo {
	display: flex;
	align-items: center;
}
header .site-logo .site-logo-icon {
	width: 5em;
}
header .site-logo .site-logo-name {
	color: var(--yellow);
	text-transform: uppercase;
	font-size: 2.5rem;
	margin-left: 0.5em;
}
header {
	background-color: var(--dark-orange);
	padding: 1em;
}
/* navbar */
#navbar {
	background-color: var(--black);
}
#navbar ul {
	display: flex;
	justify-content: space-evenly;
	padding: 1em;
}
#navbar ul li #link {
	font-size: 1.5rem;
	color: var(--yellow);
	text-transform: uppercase;
	padding: 0.75em 0.75em;
}
#navbar ul li #link:hover {
	background-color: var(--dark-orange);
}
/* sticky navbar */
/* the sticky class is added to the navbar with JavaScript when it reaches its scroll position */
.sticky {
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 2;
}
/* main */
h1 {
	color: var(--white);
	text-align: center;
	font-size: 2.5rem;
	text-transform: uppercase;
	margin-top: 1em;
	margin-bottom: 1em;
}
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.container section {
	flex-basis: 30%;
	text-align: center;
	background: linear-gradient(to top, var(--black) 0%, var(--dark-gray) 100%);
	padding: 4%;
	min-width: 15.75em;
	margin-bottom: 2em;
	border-radius: 0.75em;
	color: var(--yellow);
}
.container section img {
	max-width: 100%;
	height: auto;
	margin-bottom: 1.25em;
}
.container section h2 {
	font-size: 1.25rem;
	text-transform: uppercase;
	letter-spacing: 0.25em;
	padding: 0.25em 0 0.25em 0;
	margin-bottom: 1.25em;
	border-radius: 0.75em;
	background-color: var(--dark-orange);
}
.container section p {
	color: var(--white);
	line-height: 1.5em;
}
/* footer */
footer {
	text-align: center;
	color: var(--yellow);
	background-color: var(--black);
	padding: 1em;
	margin-top: 1.25em;
}

/* laptop styles */
/* max-width 64em (1024px) */
@media (max-width: 64em) {
	/* body */
	body {
		max-width: 100%;
	}
	/* header */
	header .site-logo .site-logo-icon {
		width: 3em;
	}
	header .site-logo .site-logo-name {
		font-size: 2rem;
	}
	#navbar ul li #link {
		font-size: 1.25rem;
	}
	/* main */
	h1 {
		font-size: 2rem;
	}
	.container section {
		padding: 2%;
		margin-bottom: 1em;
	}
	.container section img {
		margin-bottom: 1em;
	}
	.container section h2 {
		font-size: 1.25rem;
		margin-bottom: 1em;
	}
}

/* tablet styles */
/* max-width 48em (768px) */
@media (max-width: 48em) {
	/* main */
	.container section {
		flex-basis: 45%;
	}
}

/* mobile styles */
/* max-width 26.5625em (425px) */
@media (max-width: 26.5625em) {
	/* header */
	header .site-logo .site-logo-icon {
		width: 2em;
	}
	header .site-logo .site-logo-name {
		font-size: 1.5rem;
	}
	header {
		background-color: var(--dark-orange);
		padding: 0.75em;
	}
	/* navbar */
	#navbar ul {
		justify-content: space-between;
		padding: 0.75em 0;
	}
	#navbar ul li #link {
		font-size: initial;
	}
	/* main */
	h1 {
		font-size: 1.5rem;
	}
	.container section {
		flex-basis: 90%;
		padding: 4%;
	}
	.container section img {
		max-width: 80%;
	}
}
